body {
    background-image: url("https://farm8.static.flickr.com/7446/11340633075_cf08943c89_b.jpg");
    background-repeat: no-repeat;
    background-size: 1800px 2700px;
    background-color: #cccccc;
}